<ul class="nav navbar-nav navbar-left">
    <li>
        @Html.ActionLink(" ", "SetCulture", "Home", routeValues: new { culture = "en" },
            htmlAttributes: new { style = "background: url('../../Content/icons/en.png') no-repeat; display:block; height:24px; width:24px;" })
    </li>
    <li>
        @Html.ActionLink(" ", "SetCulture", "Home", routeValues: new { culture = "ru" },
            htmlAttributes: new { style = "background: url('../../Content/icons/ru.png') no-repeat; display:block; height:24px; width:24px;" })
    </li>
    <li>
        @Html.ActionLink(" ", "SetCulture", "Home", routeValues: new { culture = "he" },
            htmlAttributes: new { style = "background: url('../../Content/icons/he.png') no-repeat; display:block; height:24px; width:24px;" })
    </li>
</ul>




