@model System.Web.Mvc.HandleErrorInfo
@using QRPaste.Resources

@{
    ViewBag.Title = Resource.ErrorTitle;
}

<h1 class="text-danger">@Resource.ErrorCaption</h1>
<h2 class="text-danger">@Resource.ErrorDescription</h2>

