@using QRPaste.Resources
@{
    ViewBag.Title = "QRPaste";
}

<div class="jumbotron">
    <h1>@Resource.AppTitle</h1>
    <p class="lead">@Resource.AppDescription</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>@Resource.PasteTitle</h2>
        <p>todo: form with a paste targets (url, text box, etc.)</p>
    </div>
    <div class="col-md-6">
        <h2>@Resource.QRTitle</h2>
        <p></p>
    </div>
</div>